.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
    background-color: #ffffff;
    border: solid 0.5px #e5e7eb;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    

}
